.main{
    padding: 85px 130px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.another_flex{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    justify-items: center;
}
.grid{
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.big_card {
    font-family: "NutinoSans-Bold", sans-serif;
    height: 300px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(136, 136, 136, 0.5);
}

.big_card div{
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    /*background-color: #f2f2f2;*/
    transition: background-color 0.3s;
}

.big_card:hover{
    transform: scale(1.005);
}

.big_card h2{
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.big_card p{
    font-family: 'Open-Sans', sans-serif;
    margin-bottom: 10px;
}


.title{
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2vh;
    line-height: 2rem;

}

.content{
    width: 70%;
    display: flex;
    flex-direction: column ;
    gap: 4vh;
}

@media (max-width: 1800px) {
    .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, auto);
    }

}