.main{
    padding: 85px 130px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.another_flex{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    justify-items: center;
}
.grid{
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
}

.title{
    font-family: 'Open-Sans-Bold', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2vh;
    line-height: 2rem;

}

.content{
    width: 70%;
    display: flex;
    flex-direction: column ;
    gap: 4vh;
}

@media (max-width: 1800px) {
    .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, auto);
    }

}